body {
    flex-direction: column;
}

h3 {
    text-align: center;
}

img {
    width: 30vw;
    overflow: hidden;
}

#main-content {
    display: flex;
    margin-top: 6%;
}

#image-section {
    height: 40vw;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#qr-code-section {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#qr-code-section > * {
    margin-top: 10px;
}