@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    /*outline: pink solid 1px;*/
}

body {
   background-color: #272727;
   color: #ffffff;
}

h1 { /* Titulo Grande */
    font-weight: 700; /* grosor: bold */
    /* sombra */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* tamaño */
    font-size:80px;
}

h2 {
    font-weight: 500; /* grosor: semibold */
    font-size: 50px;
}

h3 {
    font-weight: 400;/* grosor: normal */
    font-size: 40px;
}

h4 {
    font-weight: 300; /* grosor: light */
    font-size: 30px;
}

h5 {
    font-weight: 100; /* grosor: thin */
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

input {
    background-color: #fefefe;
    border-radius: 60px;
    padding: 10px 20px;
    color: rgb(75, 75, 75);
    border: 3px solid #7f7f7f; 
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* particulares */

.imgfoto {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: #131313;
}

/*botones*/

.btn {
    background-color:rgb(73, 73, 73);
    border-radius: 10px;
    padding: 10px;
    color :#ffffff;
    text-decoration: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Divs */

.totalcenter {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneline {
    display: flex;
    justify-content: center;
    align-items: center;
    /*espacioo entre elementos*/
    gap: 10px;
}

.scroll {
    width: 100px;
    overflow-x: auto;
    height: 500px;
}