{% extends "base.html" %}

{% block title %} Gallery {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/backgrounds.css') }}">
{% endblock %}

{% block body %}
<h2>Gallery</h2>
<p>Select a background to blend your picture with</p>

<ul class="image-gallery">
    <li>
        {% for image in backgrounds %}
        <div>
            <img src="../{{ image.1 }}" alt="{{ image.0 }}.png" width="200">
            <a class="" href="{{ url_for('process_image', background_id=image.0) }}">Use this one</a>
        </div>
        {% endfor %}
    </li>
</ul>
<!--
    Once an image from the gallery is selected, the id of the image is sent to process-image/id,
    where id is the id of the selected image in the gallery
-->
{% endblock %}