{% extends "base.html" %}

{% block title %} Galería {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/backgrounds.css') }}">
{% endblock %}

{% block body %}
<h2>Galería</h2>
<p>Selecciona una imágen para procesar en el fondo</p>

<ul class="image-gallery">
    <li>
        {% for image in backgrounds %}
        <div>
            <img src="../{{ image.1 }}" alt="{{ image.0 }}.png" width="200">
            <a class="" href="{{ url_for('procesar_imagen', background_id=image.0) }}">Procesar Imagen</a>
        </div>
        {% endfor %}
    </li>
</ul>
<!--
    Una vez se selecciona una imagen de la galería, se envía el id de la imagen a procesar-imagen/id,
    donde id es el id de la imagen seleccionada en la galería
-->
{% endblock %}