{% extends "base.html" %}

{% block title %} Inicio  {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}
<header id="main-page-header">
    <h1>SISTEMIN</h1>
</header>
<section id="main-page-options">
    <ul>
        <li><a href="{{ url_for('procesar_imagen') }}"><span class="fa-solid fa-camera"></span>Crear Foto</a></li>
        <li><a href="#">Ver Fotos <span class="fa-solid fa-image"></span></a></li>
    </ul>
</section>
{% endblock %}