{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/position.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/position.js') }}"></script>
{% endblock %}

{% block body %}
<section id="instructions">
    <p>
        Arrastra tu imagen seleccionada para posicionarla sobre el fondo.
        <span id="message" style="display: none">Posicionamiento incorrecto</span>
    </p>
</section>
<section id="positioning-section">
    <img id="up_image" src="../static/uploads/tmp/{{ session['up_image_filename'] }}" alt="uploaded image" width="200">
    <img id="selected_bg" src="../static/img/backgrounds/{{bg_id}}.jpg" alt="selected background" width="200">

    <form action="{{ url_for('process_image') }}" method="POST" id="image-coords-form">
        <input id="x-coords" type="number" value="" name="x">
        <input id="y-coords" type="number" value="" name="y">
        <input id="background-id" type="number" value="{{bg_id}}" name="background-id">
        <input type="submit" value="" id="submit-coords">
    </form>
</section>
<button id="send-coords-to-backend">Obtener Resultado</button>
{% endblock %}