{% extends "base.html" %}

{% block title %} Process Image {% endblock %}

{% block body %}
<br>
<h3 class="oneline">Upload Picture</h3>
<br>

<div class="oneline">
    <form class="oneline" action="/process-image" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="background_id" value="{{ background_id }}">
        <input class="btn" type="file" name="image">
        <input class="btn" type="submit" value="Blend Picture">
    </form>
</div>
<br><br>
<div class="oneline">
    <h3>Selected Background</h3>
</div>
<br>
<div class="oneline">
    <img src="../static/img/backgrounds/{{ background_id }}.jpg" alt="Selected Background" height="300">
</div>
{% endblock %}