{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
{% endblock %}

{% block body %}
    <h3>Cargar Imagen</h3>
    <form action="/procesar-imagen" method="POST" enctype="multipart/form-data">
        <input type="file" name="imagen">
        <input type="submit" value="Procesar Imagen">
    </form>


    <h3>Imagen Procesada</h3>
    <img src="{{ url_for('static', filename='imagen_procesada.png') }}" alt="Imagen Procesada">

    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}