{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block body %}
<br>
    <h3 class="oneline">Cargar Imagen</h3>
    <br>
    <form class="oneline" action="/procesar-imagen" method="POST" enctype="multipart/form-data">
        <input class="btn" type="file" name="imagen">
        <input class="btn" type="submit" value="Procesar Imagen">
    </form>

    <br>
    <br>

     <h3 class="oneline">Imagen Procesada</h3>
    <br>
    <div class="oneline"><img src="{{ url_for('static', filename='imagen_procesada.png') }}" alt="Imagen Procesada"></div>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}