{% extends "base.html" %}

{% block title %} Resultado {% endblock %}

{% block body %}
<!--Para generar el código QR, se utiliza la librería qrcodejs-->

{% block scripts %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
{% endblock %}

<h3>Imagen Procesada</h3>
<section id="main-content">
    <section id="image-section">
        <!-- El template recibe como dato una tupla image = (id, relative_path), relative_path = static/uploads/{id}.png -->
        <div class="oneline">
            <a target="_blank" href="../{{ image.1 }}">
                <img src="../{{ image.1 }}" alt="{{ image.0 }}.png" width="200">
            </a>
        </div>
        <div class="oneline" style="margin-top: 10px">
            <a href="../{{ image.1 }}" class="btn" target="_blank" download>
                Descargar Imagen
            </a>
        </div>
        <div class="oneline" style="margin-top: 50px">
        </div>
        <div class="oneline" style="margin-top: 10px" id="send-url">
            <label for="email">Enviar por correo electrónico:</label>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input class="btn" type="submit" value="Procesar Imagen" onclick="sendEmail()">
        </div>
    </section>
    <section id="qr-code-section">
        <div class="oneline">
            <p>
                Código QR de Imagen:
            </p>
        </div>
        <div class="oneline" id="qrcode">
        </div>
        <div class="oneline">
            <a href="{{ request.url_root }}resultado/{{ image.0 }}" id="url">
                {{ request.url_root }}resultado/{{ image.0 }}
            </a>
        </div>
    </section>
</section>
<script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "{{ request.url_root }}resultado/{{ image.0 }}",
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    function sendEmail() {
        // redirect to <url>/enviar/<image_id>?email=<email> ONLY IF email is not empty and valid

        if (document.getElementsByName("email")[0].value == "") {
            alert("Debe ingresar un correo electrónico");
            return;
        }

        var email = document.getElementsByName("email")[0].value;

        console.log(email);

        window.location.href = "{{ request.url_root }}enviar/{{ image.0 }}?email=" + email;
    }
</script>
{% endblock %}